* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

body {
  position: relative;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: rgba(28, 28, 28, 0.89);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner-border {
  color: #F34963;
  width: 25rem;
  height: 18.75rem;
  font-size: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-section {
  background: #560c88;
  color: #ffffff;
}
header .top-section div {
  max-width: 93.75rem;
  margin: 0 auto;
  padding: 0.9375rem 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.8125rem;
}
header .top-section div p {
  font-family: "Red Hat Text", sans-serif;
  font-size: 0.87rem;
  font-weight: bold;
  color: #b8b7b7;
  letter-spacing: 0.0563rem;
  margin: 0 0.625rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .top-section div p .emailAdd {
  border-left: 0.0625rem solid #F34963;
  border-right: 0.0625rem solid #F34963;
}
header .top-section div p i {
  font-size: 1.4rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  margin-right: 0.1875rem;
}
header .top-section div p:hover {
  color: #ffffff;
}
header .top-section div p:hover i {
  color: #F34963;
}
header nav {
  max-width: 93.75rem;
  margin: 0 auto;
  padding: 0.9375rem 3.75rem;
  width: 100%;
  height: 4.375rem;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .logo {
  font-size: 2.3rem;
  color: #F34963;
  font-weight: 450;
  letter-spacing: 0.0625rem;
  font-family: "Barlow";
  text-decoration: none;
}
header nav .logo span {
  color: #560c88;
}
header nav .nav__links a {
  color: #560c88;
  font-size: 1.2rem;
  margin: 0 0.9375rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Barlow";
  font-weight: 150;
  letter-spacing: 0.0313rem;
  text-decoration: none;
}
header nav .nav__links a:hover {
  color: #F34963;
}
header nav .nav__links .quoteGet {
  border: 0.1875rem solid #F34963;
  background: #F34963;
  color: #ffffff;
  padding: 0.625rem 0.9375rem;
  font-family: "Barlow";
  font-weight: 150;
  letter-spacing: 0.0625rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  text-decoration: none;
}
header nav .nav__links .quoteGet:hover {
  border: 0.1875rem solid #F34963;
  background: transparent;
  cursor: pointer;
}
header nav .menuBars {
  font-size: 2.4rem;
  color: #560c88;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  display: none;
}
header nav .menuBars:hover {
  cursor: pointer;
}
header .side__nav__links {
  background: #F34963;
  padding: 0.9375rem 0rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 500;
  display: none;
}
header .side__nav__links .closeBtn {
  font-size: 3rem;
  padding: 0 1.25rem;
  margin-top: 0.05rem;
  margin-bottom: 0.9375rem;
  color: #ffffff;
}
header .side__nav__links .closeBtn:hover {
  cursor: pointer;
}
header .side__nav__links a {
  text-decoration: none;
  display: block;
  border-bottom: 0.0625rem solid #ffffff;
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0.3125rem 1.25rem;
  color: #ffffff;
}
header .side__nav__links .quoteGet {
  background: #ffffff;
  color: #F34963;
  font-family: "Barlow";
}
header .hero__div {
  height: 40.625rem;
  z-index: 0;
}
header .hero__div .hero__section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("https://res.cloudinary.com/expressdelivery/image/upload/q_auto:best/v1625764742/containersSunRise_fhtihf.webp") no-repeat center center/cover;
}
header .hero__div .hero__section .hero__overlay {
  background: rgba(0, 0, 0, 0.84);
  height: 100%;
  width: 100%;
  padding: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  text-align: center;
  text-align: center;
}
header .hero__div .hero__section .hero__overlay h2 {
  font-size: 5rem;
  font-family: "Barlow";
  -webkit-transition: font-size 0.7s;
  transition: font-size 0.7s;
}
header .hero__div .hero__section .hero__overlay .firstPara {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.5625rem;
  max-width: 46.875rem;
  margin: 0.625rem 0rem 0rem 0rem;
  color: #b8b7b7;
  -webkit-transition: font-size 0.7s;
  transition: font-size 0.7s;
}
header .hero__div .hero__section .hero__overlay a {
  border: 0.1875rem solid #F34963;
  background: #F34963;
  color: #ffffff;
  padding: 0.625rem 0.9375rem;
  font-family: "Barlow";
  font-weight: 150;
  letter-spacing: 0.0625rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  text-decoration: none;
  margin: 3rem 5rem 0rem 5rem;
}
header .hero__div .hero__section .hero__overlay a:hover {
  border: 0.1875rem solid #F34963;
  background: transparent;
  cursor: pointer;
}

.product__description {
  background: url("https://res.cloudinary.com/expressdelivery/image/upload/q_auto:best/v1625764735/about_bg_ygkgzo.webp") no-repeat center center/cover;
  min-height: 100vh;
  padding: 3.4375rem 0rem;
  text-align: center;
}
.product__description h1 {
  font-family: "Barlow";
  margin: 0.93em 0rem 1.25rem 0rem;
  font-size: 2.5rem;
}
.product__description .servDiv {
  max-width: 93.75rem;
  margin: 0 auto;
  padding: 0.9375rem 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__description .servDiv .servCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 62.5rem;
  height: 18.75rem;
}
.product__description .servDiv .servCard .detDiv {
  width: 50%;
  text-align: left;
  padding: 0rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.product__description .servDiv .servCard .detDiv h3 {
  font-family: "Barlow";
  font-size: 1.8rem;
  text-align: left;
}
.product__description .servDiv .servCard .detDiv p {
  font-size: 1.2rem;
  text-align: left;
  padding: 0rem;
  opacity: 0.85;
}
.product__description .servDiv .servCard .detDiv a {
  border: 0.1875rem solid #F34963;
  background: #F34963;
  color: #ffffff;
  padding: 0.625rem 0.9375rem;
  font-family: "Barlow";
  font-weight: 150;
  letter-spacing: 0.0625rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  text-decoration: none;
  margin: 1.125rem 0rem 0rem 0rem;
}
.product__description .servDiv .servCard .detDiv a:hover {
  border: 0.1875rem solid #F34963;
  background: transparent;
  cursor: pointer;
}
.product__description .servDiv .servCard .detDiv a:hover {
  opacity: 0.8;
  background: transparent;
  color: #F34963;
}
.product__description .servDiv .servCard .imgDiv {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__description .servDiv .servCard .imgDiv img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.aboutUs {
  padding: 1.875rem 0rem;
  height: auto;
}
.aboutUs h1 {
  font-family: "Barlow";
  font-size: 2.5rem;
}
.aboutUs .par {
  text-align: center;
  padding: 0rem 2.5rem;
  font-size: 1rem;
  font-family: "Red Hat Text", sans-serif;
  opacity: 0.85;
}
.aboutUs .about__div {
  padding: 0.9375rem 0rem;
  width: 100%;
}
.aboutUs .about__div .cardDiv {
  padding: 0.9375rem 0rem;
  width: 100%;
  margin: 0.9375rem auto;
}
.aboutUs .about__div .cardDiv .imgDiv {
  width: 100%;
  min-height: 4.375rem;
}
.aboutUs .about__div .cardDiv .imgDiv img {
  width: 100%;
}
.aboutUs .about__div .desDiv {
  padding: 1.5625rem 0rem;
  text-align: left;
}
.aboutUs .about__div .desDiv h2 {
  font-family: "Barlow";
  font-size: 1.8rem;
  text-align: left;
}
.aboutUs .about__div .desDiv p {
  font-size: 1rem;
  text-align: left;
  padding: 0rem;
  opacity: 0.85;
}

.contact {
  background: url("https://res.cloudinary.com/expressdelivery/image/upload/q_auto:best/v1625764731/container__contact_fq7ehn.webp") no-repeat center center/cover;
  min-height: 90vh;
}
.contact .contact__overlay {
  background: rgba(0, 0, 0, 0.87);
  height: 100%;
  width: 100%;
  padding: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  text-align: center;
}
.contact .contact__overlay h3 {
  font-family: "Barlow";
  font-size: 2.5rem;
  letter-spacing: 0.1563rem;
  margin-top: 1.875rem;
}
.contact .contact__overlay form {
  width: 70%;
  height: 70%;
  padding: 1.5625rem;
}
.contact .contact__overlay form select {
  border: 0.125rem solid #b8b7b7;
  padding: 0.5rem 0.9375rem;
  background: transparent;
  font-family: "Red Hat Text", sans-serif;
  color: #ffffff;
  border-radius: 0rem;
  font-size: 1.2rem;
}
.contact .contact__overlay form select option {
  padding: 0.625rem;
  color: #000000;
  font-size: 1.2rem;
}
.contact .contact__overlay form label {
  display: block;
  margin: 1.5625rem 0rem 0.3125rem 0rem;
  width: 50%;
  text-align: left;
  font-size: 1.2rem;
  font-family: "Red Hat Text", sans-serif;
  letter-spacing: 0.0625rem;
}
.contact .contact__overlay form label::after {
  content: " *";
  color: #F34963;
}
.contact .contact__overlay form input {
  border: 0.125rem solid #b8b7b7;
  width: 100%;
  background: transparent;
  color: #ffffff;
  padding: 0.5rem 0.9375rem;
  border-radius: 0rem;
  font-size: 1.2rem;
}
.contact .contact__overlay form input[type=submit] {
  border: 0.1875rem solid #F34963;
  background: #F34963;
  color: #ffffff;
  padding: 0.625rem 0.9375rem;
  font-family: "Barlow";
  font-weight: 150;
  letter-spacing: 0.0625rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  text-decoration: none;
  width: 30%;
  float: left;
  font-size: 1.2rem;
  font-weight: 150;
  letter-spacing: 0.0625rem;
  margin-top: 1.875rem;
  opacity: 0.75;
}
.contact .contact__overlay form input[type=submit]:hover {
  border: 0.1875rem solid #F34963;
  background: transparent;
  cursor: pointer;
}
.contact .contact__overlay form input[type=submit]:hover {
  opacity: 0.8;
}
.contact .contact__overlay form textarea {
  border: 0.125rem solid #b8b7b7;
  width: 100%;
  padding: 0.5rem 0.9375rem;
  background: transparent;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 150;
}

.gallery {
  max-width: 93.75rem;
  margin: 0 auto;
  padding: 0.9375rem 3.75rem;
  background: url("https://res.cloudinary.com/expressdelivery/image/upload/q_auto:best/v1625764737/gallery_bg_kwelbq.webp") no-repeat center center/cover;
}
.gallery h3 {
  font-family: "Barlow";
  font-size: 2.5rem;
  margin: 1.5625rem 0rem;
  text-align: center;
  letter-spacing: 0.1563rem;
}
.gallery .gallery__div {
  max-width: 66.25rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9.375rem, 1fr));
  gap: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
}
.gallery .gallery__div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5vw;
  padding: 0.5em;
  min-height: 5rem;
  min-width: 5rem;
  color: #ffffff;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .gallery__div div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.9375rem;
}
.gallery .gallery__div div img:hover {
  cursor: pointer;
}
.gallery .gallery__div div:nth-child(1) {
  -ms-grid-column-span: 4;
  grid-column: span 4;
  height: 28.125rem;
  padding: 0rem;
}
.gallery .gallery__div div:nth-child(2) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  height: 28.125rem;
  padding: 0rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .gallery__div div:nth-child(2) img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery .gallery__div div:nth-child(3) {
  -ms-grid-column-span: 3;
  grid-column: span 3;
  padding: 0rem;
  height: 21.5625rem;
}
.gallery .gallery__div div:nth-child(4) {
  -ms-grid-column-span: 3;
  grid-column: span 3;
  padding: 0rem;
}
.gallery .gallery__div div:nth-child(5) {
  -ms-grid-column-span: 6;
  grid-column: span 6;
  padding: 0rem;
  height: 25rem;
}

.myModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding: 150px 0;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.95);
  /* Black w/ opacity */
}
.myModal .closeBtn {
  position: absolute;
  top: 15px;
  right: 12px;
  color: #f1f1f1;
  font-size: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.myModal .closeBtn:hover {
  cursor: pointer;
}
.myModal img {
  margin: auto;
  display: block;
  max-width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 250;
}
.myModal .caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.footer {
  width: 100%;
  padding: 1.25rem;
  background: black;
}
.footer .top__section .usefulLinks {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer .top__section .usefulLinks h4 {
  margin-top: 2rem;
  margin: 1.5625rem 0rem 1.25rem 0rem;
}
.footer .top__section .usefulLinks p {
  font-size: 1.1rem;
  color: #b8b7b7;
  opacity: 0.65;
}
.footer .top__section .usefulLinks .pInfo {
  font-size: 1.1rem;
  color: #b8b7b7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  opacity: 0.65;
}
.footer .top__section .usefulLinks .pInfo i {
  font-size: 1.4rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  margin-right: 0.1875rem;
}
.footer .top__section .usefulLinks .pInfo:hover {
  opacity: 0.9;
  color: #ffffff;
}
.footer .top__section .usefulLinks .pInfo:hover i {
  color: #F34963;
}
.footer .top__section .usefulLinks a {
  text-decoration: none;
  color: #b8b7b7;
  font-size: 1.3rem;
  margin: 0.3125rem 0rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.footer .top__section .usefulLinks a:hover {
  color: #ffffff;
  text-decoration: none;
}
.footer .top__section .usefulLinks .socialDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .top__section .usefulLinks .socialDiv a {
  margin: 0rem 0.65rem 0rem 0rem;
  font-size: 1.7rem;
  padding: 1.5625rem;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  border: 0.125rem solid #F34963;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom__section {
  border-top: 0.0625rem solid #b8b7b7;
  background: #1c1c1c;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom__section p {
  font-size: 1rem;
  font-family: "Barlow";
  color: #ffffff;
  letter-spacing: 0.0625rem;
}
.bottom__section p span {
  color: #F34963;
}
.bottom__section p .currentYear {
  font-family: "Barlow";
  color: #ffffff;
}

.page__up__arrow {
  border: 0.1875rem solid #F34963;
  background: #F34963;
  color: #ffffff;
  padding: 0.625rem 0.9375rem;
  font-family: "Barlow";
  font-weight: 150;
  letter-spacing: 0.0625rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  text-decoration: none;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  border-radius: 0.3125rem;
  font-size: 1.4rem;
  text-align: center;
  z-index: 500;
  transition: 0.7s;
  display: none;
}
.page__up__arrow:hover {
  border: 0.1875rem solid #F34963;
  background: transparent;
  cursor: pointer;
}
.page__up__arrow:hover {
  background: transparent;
  color: #F34963;
  border: 0.1875rem solid #F34963;
}

@media (max-width: 50rem) {
  header .top-section {
    display: none;
  }
  header nav {
    padding: 0rem 1.25rem;
  }
  header nav .logo {
    font-size: 1.9rem;
  }
  header nav .nav__links {
    display: none;
  }
  header nav .menuBars {
    display: block;
  }
  header .hero__div {
    min-height: 100vh;
  }
  header .hero__div .hero__section .hero__overlay {
    padding: 1.875rem 0rem;
  }
  header .hero__div .hero__section .hero__overlay h2 {
    font-size: 9vw;
  }
  header .hero__div .hero__section .hero__overlay .firstPara {
    text-align: center;
    font-size: 5vw;
    letter-spacing: 0.0625rem;
    padding: 2.1875rem;
    line-height: 2.1875rem;
  }

  .aboutUs {
    height: auto;
  }
  .aboutUs h1 {
    font-size: 2rem;
    text-align: center;
  }
  .aboutUs p {
    font-size: 1rem;
  }
  .aboutUs .about__div {
    padding: 0rem 0.9375rem;
  }
  .aboutUs .about__div .cardDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutUs .about__div .cardDiv .desDiv {
    text-align: left;
    width: 100%;
    margin: 0.3125rem auto;
  }
  .aboutUs .about__div .cardDiv .desDiv p {
    text-align: left;
    padding-left: 0rem;
  }

  .product__description {
    height: auto;
  }
  .product__description h1 {
    font-size: 2rem;
    text-align: center;
  }
  .product__description .servDiv {
    width: 100%;
    padding: 0rem 0.9375rem;
  }
  .product__description .servDiv .servCard {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product__description .servDiv .servCard .detDiv {
    width: 100%;
    padding: 0rem 0rem 0rem 0rem;
  }
  .product__description .servDiv .servCard .detDiv h3 {
    font-size: 1.6rem;
    margin: 0.9375rem 0rem 0.625rem 0rem;
  }
  .product__description .servDiv .servCard .detDiv p {
    font-size: 1rem;
  }
  .product__description .servDiv .servCard .order {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .product__description .servDiv .servCard .imgDiv {
    width: 100%;
    height: 100%;
    margin: 1.25rem 0rem 0rem 0rem;
  }

  .gallery {
    padding: 1.5625rem 0.9375rem;
  }
  .gallery h3 {
    font-size: 2rem;
    text-align: center;
  }
  .gallery .gallery__div {
    padding: 2.1875rem 0rem;
  }
  .gallery .gallery__div div {
    -ms-grid-column-span: 5;
    grid-column: span 5;
    margin: 0.3125rem 0rem;
    width: 100%;
  }
  .gallery .gallery__div div:nth-child(1) {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .gallery .gallery__div div:nth-child(2) {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .gallery .gallery__div div:nth-child(3) {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .gallery .gallery__div div:nth-child(4) {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .gallery .gallery__div div:nth-child(5) {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .gallery .gallery__div div:nth-child(6) {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }

  .contact .contact__overlay {
    padding: 0rem 0.9375rem;
  }
  .contact .contact__overlay h3 {
    font-size: 1.6rem;
  }
  .contact .contact__overlay form {
    width: 100%;
    padding: 0.9375rem 0rem;
  }
  .contact .contact__overlay form select {
    font-size: 1rem;
    width: 100%;
  }
  .contact .contact__overlay form label {
    font-size: 1rem;
    width: 100%;
    margin: 1.5625rem 0rem 0rem 0rem;
  }
  .contact .contact__overlay form div {
    width: 100%;
  }
  .contact .contact__overlay form input[type=submit] {
    width: 100%;
    font-size: 1rem;
  }

  .page__up__arrow {
    bottom: 1.25rem;
    right: 0.9375rem;
  }
}
@media (min-width: 56.25rem) {
  .aboutUs {
    min-height: 100vh;
    padding: 3.4375rem 0rem;
    text-align: center;
  }
  .aboutUs h1 {
    font-family: "Barlow";
    margin: 0.9375rem 0rem 1.25rem 0rem;
  }
  .aboutUs .par {
    font-size: 1.4rem;
    width: 43.75rem;
    margin: 0 auto;
    margin-bottom: 0.9375rem;
  }
  .aboutUs .about__div {
    max-width: 93.75rem;
    margin: 0 auto;
    padding: 0.9375rem 3.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutUs .about__div .cardDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 62.5rem;
    height: 25rem;
  }
  .aboutUs .about__div .cardDiv .imgDiv {
    width: 60%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
  }
  .aboutUs .about__div .cardDiv .imgDiv img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .aboutUs .about__div .cardDiv .desDiv {
    width: 40%;
    text-align: left;
    padding: 1.25rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .aboutUs .about__div .cardDiv .desDiv h2 {
    font-family: "Barlow";
    font-size: 1.7rem;
  }
  .aboutUs .about__div .cardDiv .desDiv p {
    font-family: "Red Hat Text", sans-serif;
    font-size: 1.1rem;
    margin: 0rem 0rem 0.9375rem 0rem;
    opacity: 0.6;
  }
  .aboutUs .about__div .cardDiv .desDiv a {
    border: 0.1875rem solid #F34963;
    background: #F34963;
    color: #ffffff;
    padding: 0.625rem 0.9375rem;
    font-family: "Barlow";
    font-weight: 150;
    letter-spacing: 0.0625rem;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    text-decoration: none;
    opacity: 0.75;
    margin: 1.125rem 0rem 0rem 0rem;
  }
  .aboutUs .about__div .cardDiv .desDiv a:hover {
    border: 0.1875rem solid #F34963;
    background: transparent;
    cursor: pointer;
  }
  .aboutUs .about__div .cardDiv .desDiv a:hover {
    opacity: 0.8;
    background: transparent;
    color: #F34963;
  }

  .footer .top__section {
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 2.1875rem 0rem;
  }
  .footer .top__section .usefulLinks {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .top__section .usefulLinks .pInfo {
    font-size: 1.1rem;
    color: #b8b7b7;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0.65;
  }
  .footer .top__section .usefulLinks .pInfo i {
    font-size: 1.4rem;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    margin-right: 0.1875rem;
  }
  .footer .top__section .usefulLinks .pInfo:hover {
    opacity: 0.9;
    color: #ffffff;
  }
  .footer .top__section .usefulLinks .pInfo:hover i {
    color: #F34963;
  }
  .footer .top__section .usefulLinks a {
    text-decoration: none;
    color: #b8b7b7;
    font-size: 1.3rem;
    margin: 0.3125rem 0rem;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .footer .top__section .usefulLinks a:hover {
    color: #ffffff;
    text-decoration: none;
  }
}