// Styles for items like buttons, links, lists, and colors, fonts, etc..

// Variables
$primary__color: #F34963;
$secondary__color: #560c88;
$light__color: #ececec;



a {
    text-decoration: none;
}

ul {
    list-style: none;
}

