// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script:wght@300&family=Fredoka+One&family=Permanent+Marker&family=Red+Hat+Text&family=Roboto:wght@100&family=Sacramento&display=swap');



// Styles for items like buttons, links, lists, and colors, fonts, etc..

// Variables
$primary__color: #F34963;
$secondary__color: #560c88;
$light__white: #ffffff;
$dark__white: #d1d1d1;
$primary__font: 'Permanent Marker', cursive;
$secondary__font: 'Fredoka One', cursive;
$third__font: 'Red Hat Text', sans-serif;








html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

