// Button Mixin
@mixin btn_style {
    border: none;
    background: $primary__color;
    color: $light__white;
    padding: 10px 15px;
    font-family: $secondary__font;
    font-weight: 150;
    letter-spacing: 1px;

    &:hover {
        color: $light__white;
        cursor: pointer;
    }
}

@mixin divShadow {
    box-shadow: -1px -3px 46px 16px rgba(0,0,0,0.23);
        -webkit-box-shadow: -1px -3px 46px 16px rgba(0,0,0,0.23);
        -moz-box-shadow: -1px -3px 46px 16px rgba(0,0,0,0.23);
}

// Orange Border
@mixin border($width, $color) {
    border: $width solid $color;
}


// Background Image
@mixin bgImage($image) {
    background: url('/images/#{$image}.jpg') no-repeat center center / cover;
}

// Overlay Style 
@mixin overlay__style($opacity) {
    background: rgba(0, 0, 0, $opacity);
    height: 100%;
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $light__white;
    text-align: center;
}


@mixin my_container {
    padding: 15px 60px;
}

// ClearFix
@mixin ClearFix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}


// Grid Mixin
@mixin grid($chWdt, $gridWdt) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($chWdt, $gridWdt));
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}