// Button Mixin
@mixin btn_style {
    border: none;
    background: $primary__color;
    color: $light__white;
    padding: 10px 15px;

    &:hover {
        color: $light__white;
        cursor: pointer;
    }
}

@mixin divShadow {
    box-shadow: 5px 5px 2px 2px;
}