// Orange Border
@mixin border($width, $color) {
    border: $width solid $color;
}


// Button Mixin
@mixin btn_style {
    @include border(3px, $primary__color);
    background: $primary__color;
    color: $light__white;
    padding: 10px 15px;
    font-family: $secondary__font;
    font-weight: 150;
    letter-spacing: 1px;
    transition: 0.7s;
    text-decoration: none;

    &:hover {
        @include border(3px, $primary__color);
        background: transparent;
        cursor: pointer;
    }
}

@mixin divShadow {
    box-shadow: -1px -3px 46px 16px rgba(0,0,0,0.23);
        -webkit-box-shadow: -1px -3px 46px 16px rgba(0,0,0,0.23);
        -moz-box-shadow: -1px -3px 46px 16px rgba(0,0,0,0.23);
}


// Background Image
@mixin bgImage($image) {
    background: url('/images/#{$image}.jpg') no-repeat center center / cover;
}

// Overlay Style 
@mixin overlay__style($opacity) {
    background: rgba(0, 0, 0, $opacity);
    height: 100%;
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $light__white;
    text-align: center;
}


@mixin my_container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px 60px;
}

// ClearFix
@mixin ClearFix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}


// Grid Mixin
@mixin grid($chWdt, $gridWdt) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($chWdt, $gridWdt));
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

// Flex Box 
@mixin flex($dir, $jCont, $aliItem) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jCont;
    align-items: $aliItem;
}


// Responsive Mixin
@mixin responsive($width){
    @media (max-width: $width) {
        // Mobile Phone Styles
        @if $width <= 800px {

            // Header 
            header {
                .top-section {
                    display: none;
                    
                    div {
                        // padding: 0px 20px;

                        p {
                            
                        }
                    }
                }

                nav {
                    padding: 0px 20px;

                    .logo {
                        font-size: 1.9rem;
                    }

                    .nav__links {
                        display: none;
                    }

                    .menuBars {
                        display: block;
                    }
                }

                .hero__div {
                    min-height: auto;

                    .hero__section {

                        .hero__overlay {
                            padding: 30px 0px;

                            h2 {
                                font-size: 2rem;
                            }

                            .firstPara {
                                text-align: center;
                                font-size: 1rem;
                                letter-spacing: 1px;
                                padding: 25px;
                                line-height: 35px;
                            }
                        }
                    }
                }

                
            }

            // About Us
            .aboutUs {
                height: auto;

                h1 {
                    font-size: 2rem;
                    text-align: center;
                }
               
                p {
                    font-size: 1rem;
                }


                .about__div {
                    padding: 0px 15px;
                    

                    .cardDiv {
                        @include flex(column, center, center);
                        // padding: 0px 15px;
                        // text-align: left;

                        .imgDiv {
                            // overflow: hidden;
                        }
                    }
                }
            }



            // Services
            .product__description {
                height: auto;
                
                h1 {
                    // padding: 0px 15px;
                    font-size: 2rem;
                    text-align: center;
                }

                .servDiv {
                    width: 100%;
                    padding: 0px 15px;
                    
                    .servCard {
                        width: 100%;
                        height: auto;
                        @include flex(column, center, center);

                        .detDiv {
                            width: 100%;
                            padding: 0px 0px 0px 0px;

                            h3 {
                                font-size: 1.6rem;
                                margin: 15px 0px 10px 0px;
                            }

                            p {
                                font-size: 1rem;
                            }
                        }

                        .order {
                            order: 2;
                        }

                        .imgDiv {
                            width: 100%;
                            height: 100%;
                            margin: 20px 0px 0px 0px;
                        }
                    }
                    
                }
            }


            // Contact
            .contact {

                .contact__overlay {
                    padding: 0px 15px;

                    h3 {
                        font-size: 1.6rem;
                    }

                    form {
                        width: 100%;
                        padding: 15px 0px;

                        select {
                            font-size: 1rem;
                            width: 100%;
                        }

                        label {
                            font-size: 1rem;
                            width: 100%;
                            margin: 25px 0px 0px 0px;
                        }

                        div {
                            width: 100%;
                        }

                        input[type="submit"] {
                            width: 100%;
                            font-size: 1rem;
                        }
                    }
                }
            }


            // Footer


            // Scroll Up
            .page__up__arrow {
                bottom: 20px;
                right: 15px;
            }
            
        }
            
    }

    // Min Width
    @media (min-width: $width) {
        @if $width >= 900px {


            // About Us
            .aboutUs {
                min-height: 100vh;
                padding: 55px 0px;
                text-align: center;
                
                h1 {
                    font-family: $secondary__font;
                    margin: 15px 0px 20px 0px;
                }

                .par {
                    font-size: 1.4rem;
                    width: 700px;
                    margin: 0 auto;
                    margin-bottom: 15px;
                }
                
                .about__div {
                    @include my_container;
                    @include flex(column, center, center);
                    
                    .cardDiv {
                        @include flex(row, space-between, center);
                        width: 1000px;
                        height: 400px;


                        .imgDiv {
                            width: 60%;
                            height: 100%;
                            object-fit: cover;
                            position: relative;

                            img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }

                            
                        }
                        
                        .desDiv {
                            width: 40%;
                            text-align: left;
                            padding: 20px 40px;
                            @include flex(column, space-between, flex-start);

                            h2 {
                                font-family: $secondary__font;
                                font-size: 1.7rem;
                            }

                            p {
                                font-family: $third__font;
                                font-size: 1.1rem;
                                margin: 0px 0px 15px 0px;
                                opacity: 0.6;
                            }

                            a {
                                @include btn_style;
                                opacity: 0.75;
                                margin: 18px 0px 0px 0px;

                                &:hover {
                                    opacity: 0.8;
                                    background: transparent;
                                    color: $primary__color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}