@import 'reset';
@import 'default__styles';
@import 'mixins';

body {
    position: relative;
}


header {
    .top-section {
        background: $secondary__color;
        color: $light__white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 0px;
        height: 45px;

        p {
            font-size: 0.87rem;
            color: $dark__white;
            letter-spacing: 0.8px;
            margin: 0 10px;

            .emailAdd {
                border-left: 1px solid red;
                border-right: 1px solid red;
            }

            i {
                transition: 0.7s;
            }
            
            
            
            &:hover {
                i {
                    color: $primary__color;
                }
            }
        }
    }

    nav {
        // position: sticky;
        // top: 0;
        // left: 0;
        width: 100%;
        height: 95px;
        padding: 0px 35px;
        background: $light__white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 2.3rem;
            color: $primary__color;
            font-weight: bold;
            span {
                color: $secondary__color;
            }
        }

        .nav__links {
            a {
                color: $secondary__color;
                font-size: 1.2rem;
                margin: 0 15px;
                transition: 0.5s;

                &:hover {
                    color: $primary__color;
                }
                
            }
            
            .quoteGet {
                @include btn_style;
            }
        }
    }

    .hero__div {
        height: 90vh;
        z-index: 0;
        .hero__section {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('/images/heroImg.jpg') no-repeat center center / cover;

            .hero__overlay {
                // display: none;
                background: rgba(0, 0, 0, 0.678);
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: $light__white;
                text-align: center;

                h2 {
                    font-size: 5rem;
                    margin-top: -30px;
                }

                .firstPara {
                    font-size: 1.2rem;
                    font-weight: 300;
                    line-height: 1.4em;
                    margin: 10px 0px 6px 0px;
                }
                .secondPara {
                    font-size: 1rem;
                    font-weight: 300;
                    line-height: 1.4em;
                    margin: 10px 0px;
                }

                a {
                    @include btn_style;
                    margin: 50px 0px 5px 0px;
                }
            }
        }
    }
}

.whatWeDo {
    width: 75%;
    height: 120px;
    margin: 0 auto;
    position: absolute;
    top: 690px;
    left: 12%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 20;

    div {
        @include divShadow;
        background: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: $primary__color;
            color: $light__white;
            cursor: pointer;
            transition: 0.8s;
        }
    }

    .div1 {
        background: #fcfcfc;
    }
    

    .div3 {
        background: #f7fcfe;
    }

    .div4 {
        background: #fdfcfa;
    }
}



// About Us
.aboutUs {
    margin-top: 6rem;
    text-align: center;
}