@import 'reset';
@import 'default__styles';
@import 'responsive';
@import 'mixins';

body {
    position: relative;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: hsla(0, 0%, 11%, 0.89);
    @include flex(column, center, center);
}

.spinner-border {
    color: $primary__color;
    width: 400px;
    height: 300px;
    font-size: 20rem;
    @include flex(column, center, center);
}


header {
    .top-section {
        background: $secondary__color;
        color: $light__white;
        
        
        div {
            @include my_container;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 45px;
            p {
                font-family: $third__font;
                font-size: 0.87rem;
                font-weight: bold;
                color: $dark__white;
                letter-spacing: 0.9px;
                margin: 0 10px;
                transition: 0.7s;
    
                @include flex(row, center, center);
    
                .emailAdd {
                    border-left: 1px solid $primary__color;
                    border-right: 1px solid $primary__color;
                }
    
                i {
                    font-size: 1.4rem;
                    transition: 0.7s;
                    margin-right: 3px;
                }
                
                
                
                &:hover {
    
                    color: $light__white;
    
                    i {
                        color: $primary__color;
                    }
                }
            }
        }

        
    }

    nav {
        @include my_container;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        // padding: 0px 35px;
        background: $light__white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 2.3rem;
            color: $primary__color;
            font-weight: 450;
            letter-spacing: 1px;
            font-family: $primary__font;
            text-decoration: none;

            span {
                color: $secondary__color;
            }
        }

        .nav__links {
            a {
                color: $secondary__color;
                font-size: 1.2rem;
                margin: 0 15px;
                transition: 0.5s;
                font-family: $secondary__font;
                font-weight: 150;
                letter-spacing: 0.5px;
                text-decoration: none;

                &:hover {
                    color: $primary__color;
                }
                
            }
            
            .quoteGet {
                @include btn_style;
            }
        }

        

        .menuBars {
            font-size: 2.4rem;
            color: $secondary__color;
            transition: 0.7s;
            display: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .side__nav__links {
        // @include overlay__style(0.75);
        background: $primary__color;
        padding: 15px 0px;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        min-height: 100vh;
        z-index: 1500;
        opacity: 0.97;
        display: none;

        .closeBtn {
            font-size: 3rem;
            // font-weight: 300;
            padding: 5px 20px;
            margin-top: 5px;
            margin-bottom: 15px;
            color: $light__white;

            &:hover {
                cursor: pointer;
            }
        }

        a {
            text-decoration: none;
            display: block;
            border-bottom: 1px solid $light__white;
            font-family: $third__font;
            font-size: 1.8rem;
            font-weight: 300;
            padding: 5px 20px;
            color: $light__white;
        }

        .quoteGet {
            background: $light__white;
            color: $primary__color;
            font-family: $secondary__font;
        }

    }

    .hero__div {
        height: 650px;
        z-index: 0;
        
        .hero__section {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('/images/heroImg.jpg') no-repeat center center / cover;
            
            .hero__overlay {
                // @include my_container;
               @include overlay__style(0.84);
               text-align: center;

                h2 {
                    font-size: 5rem;
                    // margin-top: -5px;
                    font-family: $secondary__font;
                    transition: font-size 0.7s;
                }

                .firstPara {
                    font-family: $third__font;
                    font-size: 25px;
                    line-height: 35px;
                    max-width: 750px;
                    margin: 18px 0px 0px 0px;
                    color: $dark__white;
                    transition: font-size 0.7s;
                }

                a {
                    @include btn_style;
                    margin: 48px 0px 0px 0px;
                }
            }
        }
    }
}

// Services description
.product__description {
    @include bgImage(about_bg);
    min-height: 100vh;
    padding: 55px 0px;
    text-align: center;
    
    h1 {
        font-family: $secondary__font;
    }
    
    .servDiv {
        @include my_container;
        @include flex(column, center, center);
        
        .servCard {
            @include flex(row, space-between, center);
            width: 1000px;
            height: 300px;

            .detDiv {
                width: 50%;
                text-align: left;
                padding: 0px 40px;
                @include flex(column, space-between, flex-start);

                h3 {
                    font-family: $secondary__font;
                    font-size: 2rem;
                }

                p {
                    font-family: $third__font;
                    font-size: 19px;
                    margin: 10px 0px 0px 0px;
                    opacity: 0.65;
                }

                a {
                    @include btn_style;
                    opacity: 0.75;
                    margin: 18px 0px 0px 0px;

                    &:hover {
                        opacity: 0.8;
                        background: transparent;
                        color: $primary__color;
                    }
                }
            }

            .imgDiv {
                width: 50%;
                height: 100%;
                object-fit: cover;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}





// About Us
.aboutUs {
    max-width: 100%;
    min-height: 450px;
    text-align: center;
    margin: 0px auto;
    padding: 40px;
    background: #f8f5f5;

    h3 {
        font-family: $secondary__font;
        font-size: 2.5rem;
        letter-spacing: 1px;
        margin: 30px 0px 10px 0px;
    }

    p {

    }

    .about__card-div {
        max-width: 100%;
        margin: 0 auto;
        padding: 25px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 300px);

        .myCard {
            min-height: 500px;
            margin: 10px 20px;
            text-align: center;
            &:hover {
                // @include divShadow;
            }
            
            .imgDiv {
                min-height: 30%;
                padding: 0px;
            }

            img {
                width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
            
            div {
                padding: 15px;
                margin: 0 auto;
                text-align: left;
                background: $dark__white;

                h4 {
                    font-size: 1.3rem;
                }

                h6 {

                }

                p {

                }
            }
        }
    }
}


// Get a Quote
.contact {
    @include bgImage(container__contact);
    min-height: 90vh;
    
    .contact__overlay {
        @include overlay__style(0.87);
        padding: 80px 35px;

        h3 {
            font-family: $secondary__font;
            font-size: 2.5rem;
            letter-spacing: 2.5px;
            margin-top: 30px;
        }

        form {
            width: 70%;
            height: 70%;
            padding: 25px;
            // background: yellow;

            select {
                @include border(2px, $dark__white);
                width: 50%;
                padding: 8px 15px;
                background: transparent;
                font-family: $third__font;
                color: $light__white;
                border-radius: 0px;
                font-size: 1.2rem;

                option {
                    padding: 10px;
                    color: #000000;
                    font-size: 1.2rem;
                }
            }

            label {
                display: block;
                margin: 25px 0px 5px 0px;
                width: 50%;
                text-align: left;
                font-size: 1.2rem;
                font-family: $third__font;
                letter-spacing: 1px;

                &::after {
                    content: " *";
                    color: $primary__color;
                }
            }

            div {
                width: 50%;
                margin: 15px auto;

                input {
                    @include border(2px, $dark__white);
                    width: 100%;
                    background: transparent;
                    color: $light__white;
                    padding: 8px 15px;
                    border-radius: 0px;
                    font-size: 1.2rem;
                }
            }

            input[type="submit"] {
                @include btn_style;
                width: 100%;
                font-size: 1.2rem;
                font-weight: 150;
                letter-spacing: 1px;
                margin-top: 30px ;
            }

            
            
        }
    }

}





.gallery {
    padding: 35px;
    @include bgImage(gallery_bg);
    
    h3 {
        font-family: $secondary__font;
        font-size: 2.5rem;
        margin: 25px 0px;
        text-align: center;
        letter-spacing: 2.5px;
    }
    
    .gallery__div {
        @include ClearFix;
        @include grid(18rem, 1fr);
        
        .firstGrid {
            // grid-area: 1 / 3;
        }
          
        li {
            margin: 10px;
            object-fit: cover;
            position: relative;

            .over__lay {
                background: rgba($primary__color, 0.836);
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                visibility: hidden;

                h3 {
                    color: white;
                }
            }

            &:hover {
                .over__lay {
                    visibility: visible;
                }
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }     

    
}


.footer {
    max-width: 100%;
    // overflow-x: hidden;

    .footer__top {
        @include my_container;
        @include grid(30em, 1fr);
        max-width: 100%;
        background: #161515;
        color: $light__white;
        min-height: 60vh;
        text-align: left;

        .usefulLinks {
            @include flex(column, space-between, flex-start);
            margin: 0 10px;
            
            h4 {
                font-family: $third__font;
                letter-spacing: 2px;
                font-size: 2rem;
                margin: 15px 0px;
                font-weight: bold;
            }
            
            div {
                a {
                    display: block;
                    font-family: $third__font;
                    color: $light__white;
                    font-size: 1.2rem;
                    margin: 10px 0px;
                    font-weight: 300;
                    transition: 0.7s;
                    text-decoration: none;

                    &:hover {
                        color: $dark__white;
                    }
                }
            }
        }
        
        .infoDiv {
            min-height: 175px;
            padding: 0px 10px;
            margin: 0 10px;
            @include flex(column, space-between, flex-start);

            h4 {
                font-family: $third__font;
                letter-spacing: 2px;
                font-size: 2rem;
                margin: 15px 0px;
                font-weight: bold;
            }

            p {
                font-family: $third__font;
                font-size: 1.2rem;
                letter-spacing: 0.8px;
                margin: 5px 0px 20px 0px;
                font-weight: 100;
            }

            .social__links {
                a {
                    color: $light__white;
                    font-size: 2.2rem;
                    margin: 0px 30px 0px 0px;
                }
            }
        }


    }

    .footer__bottom {
        background: black;
        color: $light__white;
        text-align: center;
        padding: 15px 0px;
        
        div {
            @include my_container;
            @include flex(column, center, center);
            p {
                // @include my_container;
                font-size: 1.2rem;
                font-family: $third__font;
                letter-spacing: 3px;
                text-align: center;

                span {
                    font-family: $primary__font;
                    color: $primary__color;

                    span {
                        color: $light__white;
                    }
                }
            }
        }

    }
}

.page__up__arrow {
    @include btn_style;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 5px;
    font-size: 1.4rem;
    text-align: center;
    z-index: 500;
    transition: 0.7s;
    display: none;

    &:hover {
        background: transparent;
        color: $primary__color;
        @include border(3px, $primary__color);
    }
}



// Responsive - Phone Design
@include responsive(780px);