@import 'reset';
@import 'default__styles';

header {
    .top-section {
        background: $secondary__color;
        color: $light__white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 0px;
        height: 45px;

        p {
            font-size: 0.87rem;
            color: $dark__white;
            letter-spacing: 0.8px;
            margin: 0 10px;

            .emailAdd {
                border-left: 1px solid red;
                border-right: 1px solid red;
            }

            i {
                transition: 0.7s;
            }
            
            
            
            &:hover {
                i {
                    color: $primary__color;
                }
            }
        }
    }
}