@import 'reset';
@import 'default__styles';
@import 'responsive';
@import 'mixins';

body {
    position: relative;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: hsla(0, 0%, 11%, 0.89);
    @include flex(column, center, center);
}

.spinner-border {
    color: $primary__color;
    width: 25rem;
    height: 18.75rem;
    font-size: 20rem;
    @include flex(column, center, center);
}


header {
    .top-section {
        background: $secondary__color;
        color: $light__white;
        
        
        div {
            @include my_container;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 2.8125rem;
            p {
                font-family: $third__font;
                font-size: 0.87rem;
                font-weight: bold;
                color: $dark__white;
                letter-spacing: 0.0563rem;
                margin: 0 0.625rem;
                transition: 0.7s;
    
                @include flex(row, center, center);
    
                .emailAdd {
                    border-left: 0.0625rem solid $primary__color;
                    border-right: 0.0625rem solid $primary__color;
                }
    
                i {
                    font-size: 1.4rem;
                    transition: 0.7s;
                    margin-right: 0.1875rem;
                }
                
                &:hover {
    
                    color: $light__white;
    
                    i {
                        color: $primary__color;
                    }
                }
            }
        } 
    }

    nav {
        @include my_container;
        width: 100%;
        height: 4.375rem;
        // padding: 0rem 2.1875rem;
        background: $light__white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 2.3rem;
            color: $primary__color;
            font-weight: 450;
            letter-spacing: 0.0625rem;
            font-family: $secondary__font;
            text-decoration: none;

            span {
                color: $secondary__color;
            }
        }

        .nav__links {
            a {
                color: $secondary__color;
                font-size: 1.2rem;
                margin: 0 0.9375rem;
                transition: 0.5s;
                font-family: $secondary__font;
                font-weight: 150;
                letter-spacing: 0.0313rem;
                text-decoration: none;

                &:hover {
                    color: $primary__color;
                }
            }
            
            .quoteGet {
                @include btn_style;
            }
        }

        

        .menuBars {
            font-size: 2.4rem;
            color: $secondary__color;
            transition: 0.7s;
            display: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .side__nav__links {
        // @include overlay__style(0.75);
        background: $primary__color;
        padding: 0.9375rem 0rem;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        min-height: 100vh;
        z-index: 500;
        opacity: 0.92;
        display: none;

        .closeBtn {
            font-size: 3rem;
            // font-weight: 300;
            padding: 0.3125rem 1.25rem;
            margin-top: 0.05rem;
            margin-bottom: 0.9375rem;
            color: $light__white;

            &:hover {
                cursor: pointer;
            }
        }

        a {
            text-decoration: none;
            display: block;
            border-bottom: 0.0625rem solid $light__white;
            font-family: $third__font;
            font-size: 1.8rem;
            font-weight: 300;
            padding: 0.3125rem 1.25rem;
            color: $light__white;
        }

        .quoteGet {
            background: $light__white;
            color: $primary__color;
            font-family: $secondary__font;
        }

    }

    .hero__div {
        height: 40.625rem;
        z-index: 0;
        
        .hero__section {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('https://res.cloudinary.com/expressdelivery/image/upload/q_auto:best/v1625764742/containersSunRise_fhtihf.webp') no-repeat center center / cover;
            
            .hero__overlay {
                // @include my_container;
               @include overlay__style(0.84);
               text-align: center;

                h2 {
                    font-size: 5rem;
                    font-family: $secondary__font;
                    transition: font-size 0.7s;
                }

                .firstPara {
                    font-family: $third__font;
                    font-size: 1.5625rem;
                    // line-height: 3em;
                    max-width: 46.875rem;
                    margin: 0.625rem 0rem 0rem 0rem;
                    color: $dark__white;
                    transition: font-size 0.7s;
                }

                a {
                    @include btn_style;
                    margin: 3rem 5rem 0rem 5rem;
                }
            }
        }
    }
}

// Services description
.product__description {
    @include bgImage('https://res.cloudinary.com/expressdelivery/image/upload/q_auto:best/v1625764735/about_bg_ygkgzo.webp');
    min-height: 100vh;
    padding: 3.4375rem 0rem;
    text-align: center;
    
    h1 {
        font-family: $secondary__font;
        margin: 0.93em 0rem 1.25rem 0rem;
        font-size: 2.5rem;
    }
    
    .servDiv {
        @include my_container;
        @include flex(column, center, center);
        
        .servCard {
            @include flex(row, space-between, center);
            width: 62.5rem;
            height: 18.75rem;

            .detDiv {
                width: 50%;
                text-align: left;
                padding: 0rem 2.5rem;
                @include flex(column, space-between, flex-start);

                h3 {
                    font-family: $secondary__font;
                    font-size: 1.8rem;
                    text-align: left;
                }
    
                p {
                    font-size: 1.2rem;
                    text-align: left;
                    padding: 0rem;
                    opacity: 0.85;
                }

                a {
                    @include btn_style;
                    opacity: 0.75;
                    margin: 1.125rem 0rem 0rem 0rem;

                    &:hover {
                        opacity: 0.8;
                        background: transparent;
                        color: $primary__color;
                    }
                }
            }

            .imgDiv {
                width: 50%;
                height: 100%;
                object-fit: cover;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    &:hover {
                       cursor: pointer; 
                    }
                }
            }
        }
    }
}





// About Us
.aboutUs {
    padding: 1.875rem 0rem;
    height: auto;

    h1 {
        font-family: $secondary__font;
        font-size: 2.5rem;
    }

    .par {
        text-align: center;
        padding: 0rem 2.5rem;
        font-size: 1rem;
        font-family: $third__font;
        opacity: 0.85;
    }

    .about__div {
        padding: 0.9375rem 0rem;
        width: 100%;
        
        .cardDiv {
            padding: 0.9375rem 0rem;
            width: 100%;
            margin: 0.9375rem auto;

            .imgDiv{
                width: 100%;
                min-height: 4.375rem;

                img {
                    width: 100%;
                }
            }
        }

        .desDiv {
            padding: 1.5625rem 0rem;
            text-align: left;

            h2 {
                font-family: $secondary__font;
                font-size: 1.8rem;
                text-align: left;
            }

            p {
                font-size: 1rem;
                text-align: left;
                padding: 0rem;
                opacity: 0.85;
            }
        }
    }
}


// Get a Quote
.contact {
    @include bgImage('https://res.cloudinary.com/expressdelivery/image/upload/q_auto:best/v1625764731/container__contact_fq7ehn.webp');
    min-height: 90vh;
    
    .contact__overlay {
        @include overlay__style(0.87);
        // padding: 5rem 2.1875rem;
        
        h3 {
            font-family: $secondary__font;
            font-size: 2.5rem;
            letter-spacing: 0.1563rem;
            margin-top: 1.875rem;
        }
        
        form {
            // @include my_container;
            // background: rgb(73, 73, 52);
            width: 70%;
            height: 70%;
            padding: 1.5625rem;
            // background: yellow;

            select {
                @include border(0.125rem, $dark__white);
                // width: 100%;
                // float: left;
                padding: 0.5rem 0.9375rem;
                background: transparent;
                font-family: $third__font;
                color: $light__white;
                border-radius: 0rem;
                font-size: 1.2rem;

                option {
                    padding: 0.625rem;
                    color: #000000;
                    font-size: 1.2rem;
                }
            }

            label {
                display: block;
                margin: 1.5625rem 0rem 0.3125rem 0rem;
                width: 50%;
                text-align: left;
                font-size: 1.2rem;
                font-family: $third__font;
                letter-spacing: 0.0625rem;

                &::after {
                    content: " *";
                    color: $primary__color;
                }
            }
           

            input {
                @include border(0.125rem, $dark__white);
                width: 100%;
                background: transparent;
                color: $light__white;
                padding: 0.5rem 0.9375rem;
                border-radius: 0rem;
                font-size: 1.2rem;
            }

            



            input[type="submit"] {
                @include btn_style;
                width: 30%;
                float: left;
                font-size: 1.2rem;
                font-weight: 150;
                letter-spacing: 0.0625rem;
                margin-top: 1.875rem ;
                opacity: 0.75;

                &:hover {
                    opacity: 0.8;
                }
            }

            textarea {
                @include border(0.125rem, $dark__white);
                width: 100%;
                padding: 0.5rem 0.9375rem;
                background: transparent;
                color: $light__white;
                font-size: 1.2rem;
                font-weight: 150;
            }

        }
    }

}





.gallery {
    @include my_container;
    @include bgImage('https://res.cloudinary.com/expressdelivery/image/upload/q_auto:best/v1625764737/gallery_bg_kwelbq.webp');
    
    h3 {
        font-family: $secondary__font;
        font-size: 2.5rem;
        margin: 1.5625rem 0rem;
        text-align: center;
        letter-spacing: 0.1563rem;
    }
    
    .gallery__div {
        max-width: 66.25rem;
        margin: 0 auto;
        @include grid(9.375rem, 1fr);
        


        div {
            @include flex(column, center, center);
            font-size: 5vw;
            padding: .5em;
            min-height: 5rem;
            min-width: 5rem;
            color: $light__white;
            text-align: center;
            object-fit: cover;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 0.9375rem;
            }
            
            &:nth-child(1) {
                grid-column: span 4;
                height: 28.125rem;
                padding: 0rem;
                // grid-row: span 2;
                
            }
            
            &:nth-child(2) {
                grid-column: span 2;
                height: 28.125rem;
                padding: 0rem;
                object-fit: cover;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            
            &:nth-child(3) {
                grid-column: span 3;
                padding: 0rem;
                height: 21.5625rem
            }
            
            &:nth-child(4) {
                grid-column: span 3;
                padding: 0rem;
            }
            
            &:nth-child(5) {
                grid-column: span 6;
                padding: 0rem;
                height: 25rem
            }
            
        }

        
    }
}


.footer {
    width: 100%;
    padding: 1.25rem;
    background: black;
    
    .top__section {
        
        
        .usefulLinks {
            color: $light__white;
            @include flex(column, center, flex-start);
            
            h4 {
                margin-top: 2rem;
                margin: 1.5625rem 0rem 1.25rem 0rem;
            }

            p {
                font-size: 1.1rem;
                color: $dark__white;
                opacity: 0.65;
            }

            .pInfo {
                font-size: 1.1rem;
                color: $dark__white;
                transition: 0.6s;
                opacity: 0.65;

                i {
                    font-size: 1.4rem;
                    transition: 0.6s;
                    margin-right: 0.1875rem;
                }

                &:hover {
                    opacity: 0.9;
                    color: $light__white;

                    i {
                        color: $primary__color;
                    }
                }
            }
            
            a {
                text-decoration: none;
                color: $dark__white;
                font-size: 1.3rem;
                margin: 0.3125rem 0rem;
                transition: 0.7s;
                
                &:hover {
                    color: $light__white;
                    text-decoration: none;
                }
            }

            .socialDiv {
                @include flex(row, center, center);

                a {
                    margin: 0rem 0.625rem 0rem 0rem;
                    font-size: 1.7rem;
                    padding: 1.5625rem;
                    border-radius: 50%;
                    height: 2.5rem;
                    width: 2.5rem;
                    @include border(0.125rem, $primary__color);
                    @include flex(column, center, center);
                }
            }
        }
    }
    
}

.bottom__section {
    border-top: 0.0625rem solid $dark__white;
    background: #1c1c1c;
    height: 3.75rem;
    @include flex(column, center, center);
    
    p {
        font-size: 1rem;
        font-family: $secondary__font;
        color: $light__white;
        letter-spacing: 0.0625rem;

        span {
            color: $primary__color;
        }

        .currentYear {
            font-family: $secondary__font;
            color: $light__white;
        }
    }
}

.page__up__arrow {
    @include btn_style;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    border-radius: 0.3125rem;
    font-size: 1.4rem;
    text-align: center;
    z-index: 500;
    transition: 0.7s;
    display: none;

    &:hover {
        background: transparent;
        color: $primary__color;
        @include border(0.1875rem, $primary__color);
    }
}



// Responsive - Phone Design
@include responsive(50rem);
@include responsive(56.25rem);